<%- include('includes/include.ejs') %>
<body>
    <h1>Quora</h1>

    <h2>detailed post</h2>

        <div class="main">
            <br>
            <p><%= data.id %></p>
            <h3><%= data.username %></h3>
            <p><%= data.post %></p>
            <button>Delete post</button>
            <br> <br>
        </div> <br>
</body>
</html>