
<%- include('includes/include.ejs') %>
<body>
    <h1>Quora</h1>

    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="enter username"> <br> <br>
        <textarea  name="post" placeholder="enter post"></textarea>
        <button>submit</button>
    </form>
</body>
</html>