<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>2*5</h2>
    <h2><%= "Interpolation syntax".toUpperCase() %> <br>
        <%= 2*5 %>
    </h2>
    <h3>
        <%= ['sham','sher', 'khan'][2] %>
    </h3>

    <h3>
        <%= ['samar', 'sham','sher', 'khan'][0] %>
    </h3>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, voluptatem asperiores! Fuga, amet laboriosam tenetur saepe quo placeat quisquam quos nam culpa, dolorum, iste enim vitae cupiditate illo? Cupiditate ipsam itaque voluptatibus atque! Hic atque praesentium, a voluptas, placeat recusandae, similique et fuga delectus expedita culpa dignissimos ipsa architecto minima.</p>
    <button>Read me</button>
    
</body>
</html>